# uses allow-list, so ignore everything
*

# project files
!.lintcheck.yaml
!.lycheeignore
!.markdownlint.yaml
!.spellcheck*.yaml
!.wordlist*.txt
!mkdocs*.yaml
!CNAME
!*.md
!license.txt

# allow github, workflows and templates
!.github/
!.github/*.yaml
!.github/issue_template/
!.github/issue_template/*.md
!.github/workflows/
!.github/workflows/*.yaml
!.gitignore

# docs site
!docs/
!docs/index.md
!docs/assets/
!docs/assets/images/
!docs/assets/images/*.png
!docs/assets/images/logos/
!docs/assets/images/logos/*.png
!docs/en/
!docs/en/index.md
!docs/en/**/
!docs/en/**/*.md
!docs/es/
!docs/es/index.md
!docs/es/**/
!docs/es/**/*.md
!docs/pt-br/
!docs/pt-br/index.md
!docs/pt-br/**/
!docs/pt-br/**/*.md
!docs/fa/
!docs/fa/index.md
!docs/fa/**/
!docs/fa/**/*.md
!docs/CNAME

# ignore symbolic links
docs/license.txt
docs/code_of_conduct.md
docs/contributing.md
