name: Pull request pipeline

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

# for security reasons the github actions are pinned to specific release versions
jobs:
  link_checker:
    name: Link checker
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v4.2.0

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.4.0
        with:
          args: >-
            --no-progress
            --max-retries 1
            './docs/**/*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  md_linter:
    name: Lint markdown
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v4.2.0

      - name: Lint markdown
        uses: DavidAnson/markdownlint-cli2-action@v19.1.0
        with:
          config: '.markdownlint.yaml'
          globs: |
            docs/**/*.md
            docs/*.md
            *.md

  spell_checker:
    name: Check spelling
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v4.2.0

      - name: Spell check EN language
        uses: rojopolis/spellcheck-github-actions@0.48.0
        with:
          config_path: .spellcheck-en.yaml

  export_pdf:
    name: Export PDF
    runs-on: ubuntu-24.04
    needs: [link_checker, md_linter, spell_checker]
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v4.2.0

      - name: Install python
        uses: actions/setup-python@v5.5.0
        with:
          python-version: 3.x

      - name: Install python packages
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install mkdocs
          pip install mkdocs-material 
          pip install mkdocs-open-in-new-tab
          pip install mkdocs-with-pdf

      - name: Build check
        run: mkdocs build
